/* Structure */

#outer-container {
    width: 1000px;
    margin: 0px auto;
}

#outer-container > div {
    padding: 10px;
}


#header {
    
}

#header #logo-home {
    display: block;
    width: 250px;
    height: 100px;
    margin: 0px 20px 0px 0px;
    float: left;
}

#header #main-nav {
    float: left;
}

#header #main-nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#header #main-nav ul li {
    float: left;
    margin-right: 20px;
}

#header #main-nav ul li a {
    text-decoration: none;
    display: block;
    padding: 5px;
}

#container {
    
}

#container > h1, #container > h2 {
    margin: 0px 0px 10px 0px;
}

#footer {
    
}

/* Header Tags */

h1 {
    font-size: 24px;
    line-height: 40px;
}

h2 {
    font-size: 20px;
    line-height: 34px;
}

h3 {
    font-size: 18px;
    line-height: 30px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}





/* Honey */

div.control-group.hp {
    position: absolute;
    left: -9999px;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* General */

.half {
    width: 50%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}