@{
    ViewBag.Title = "Thank you for registering your cv with Best Recruitment Network";
}

<h1>Thank you</h1>

<p>You have successfully registered your details with Best Recruitment Network.</p>
<p>A member of our team will be in touch shortly.</p>