@model LayersCMS.Data.Domain.Core.Pages.LayersCmsPage
@{
    ViewBag.Title = Model.WindowTitle;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.MetaKeywords = Model.MetaKeywords;
}

@if (!String.IsNullOrWhiteSpace(Model.PageTitle))
{
    <h1>@Html.Raw(Model.PageTitle)</h1>
}

@Html.Raw(Model.Content)

@section scripts
{
    @Html.Raw(Model.CustomScripts)
}
