<ul class="nav nav-list">
    <li class="nav-header">Main Menu</li>
    @*<li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>*@ @*ToDo: later, apply the active class to active link*@
    <li><a href="@Url.Action("List", "Pages")"><i class="icon-file"></i> Pages</a></li>
    <li class="nav-header">Configuration</li>
    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
    <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
    <li class="divider"></li>
    <li>
        <a href="@Url.Action("LogOut", "Auth")"><i class="icon-remove"></i> Sign out</a>
    </li>
</ul>
