/*  http://www.december.com/html/spec/color0.html */

body {
    background: transparent url(img/bg/cream_dust.png) repeat;
}

#outer-container {
    /*-webkit-box-shadow: 3px 1px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 1px 5px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 1px 5px rgba(50, 50, 50, 0.5);*/
}

#header {
    background-color: #8379B9;
    color: #f0f0f0;
    margin-top: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#container {
    margin: 0;
    background-color: #FCFCFC;
}

#footer {
    background-color: #8379B9;
    color: #f0f0f0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



#header a, #footer a {
    color: #FCFCFC;
}

ul.drop li:hover, ul.drop li:hover ul li {
    background-color: #8379B9;
}

#container a.banner {
    display: block;
    width: 1000px;
    margin: -10px 0 10px -10px;
}

h1, h2, h3, h4, h5, h6, #header, #footer {
    font-family: 'Didact Gothic', sans-serif;
}