@{
    Layout = "_BaseLayout.cshtml";
}

<div class="row-fluid">
    <div class="span6 offset3">
        <img src="~/Content/admin/img/logo/layers-cms-logo.png" alt="Layers CMS" id="logged-out-logo" />
        @RenderBody()
    </div>
</div>



@section Scripts {
  @RenderSection("Scripts", false)
}