@model MvcApplication.Models.ContactUs.ContactUsModel

@{
    ViewBag.Title = "Contact Us";
}

<h1>Contact Us</h1>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Send us an enquiry</legend>
        
        

    </fieldset>
}