@{
    ViewBag.Title = "Layers CMS Initialisation Complete";
}

<h1>Database initialised...</h1>
<p>You can now @Html.ActionLink("log in to the admin area", "Login", "Auth", new { Area = "Admin" }, null) and get started.</p>
