<div id="main-nav">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About Us", "About", "Home")</li>
        <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "BasicForm", "ContactUs")</li>
    </ul>
    <div class="clearfix"></div>
</div>